<h4 *ngIf="!allowEdit">You're not allowed to edit!</h4>
<div *ngIf="allowEdit">
    <div class="form-group srv-name-container">
        <label class="label-srv-name" for="serverName">Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="serverName" name="" id="serverName">
    </div>
    <div class="form-group srv-status-container">
        <label class="label-srv-status" for="serverStatus">Server Status</label>
        <input type="text" class="form-control" [(ngModel)]="serverStatus" name="" id="serverStatus">
    </div>
    <div class="form-group btn-container">
        <button class="btn btn-primary" (click)="onUpdateServer()">Update Server</button>
    </div>
</div>
