<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="list-group servers-container">
            <a [routerLink]="['/servers', server.id]" [queryParams]="{allowEdit: server.id === 3 || server.id === 2 ? '1' : '0'}"
                [fragment]="'loading'" href="#"
                class="list-group-item" *ngFor="let server of servers">
                {{server.name}}
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 server-container">
        <router-outlet></router-outlet>
        <!-- <button class="btn btn-primary navigate-btn" (click)="onReload()">Reload Page</button>
        <app-edit-server></app-edit-server>
        <hr>
        <app-server></app-server> -->
    </div>
</div>